# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata

# Node
node_modules/

# ruby
vendor/bundle/
.bundle/
.sass-cache/

# artifacts
dist/
assets/css/main.css
assets/js/main.js
assets/js/main.js.map

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# temporary
classSearchResults.txt