{% assign words = include.content | strip_html | number_of_words: 'auto' %}
{% assign words_per_minute = 180 %}
{% assign read_time = words | divided_by: words_per_minute %}

{% unless read_time > 0 %}
    {% assign read_time = 1 %}
{% endunless %}

{% capture read_prompt %}
    {{- site.data.layout.post.read_time.prompt -}}
{% endcapture %}

<span class="readtime" data-bs-toggle="tooltip" data-bs-placement="bottom"
    title="{{ words }} {{ site.data.layout.post.words }}">
    <em>
        {{- read_time -}}
        {{ ' ' }}
        {{- site.data.layout.post.read_time.unit -}}
    </em>
    {%- if include.prompt -%}
        {%- assign _prompt_words = read_prompt | number_of_words: 'auto' -%}
        {%- unless _prompt_words > 1 -%}{{ ' ' }}{%- endunless -%}
        {{ read_prompt }}
    {%- endif -%}
</span>