<!DOCTYPE html>

{% if site.theme_mode %}
    {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<html lang="en" {{ prefer_mode }}>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    >
    <meta name="description" content="{{ site.description }}">

    {%- capture seo_tags -%}
        {% seo title=false %}
    {%- endcapture -%}

    {{ seo_tags }}

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <!-- consider: resource hints, web font, icons, PWA?, analytics, additional metadata -->
</head>

<body>
    {% include sidbar.html %}

    <main id="">
        {% include topbar.html %}
        {{ content }}

        <!-- panel: an aside with the recently-updated section, trending tags section, related  -->
        <!-- footer: w/copyright shit -->
    </main>

    <!-- scripts here... -->
</body>

</html>